@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is Maros Web App! A number of applications are made available to users so they can take the most from Maros.</p>
